---
import { Picture } from "astro-imagetools/components";
import config from "@config/config.json";
import { getSinglePage } from "@lib/contentParser.astro";
import dateFormat from "@lib/utils/dateFormat";
import { humanize,slugify } from "@lib/utils/textConverter";
import { BiCalendarEdit,BiCategoryAlt } from "react-icons/bi/index.js";
const { summary_length } = config.settings;
const { className, podcasts, fluid } = Astro.props;
---

<div class={`row gy-5 gx-4 ${className} ${podcasts.length == 1 ? "justify-center" : ""} `}>
  {
    podcasts.map((podcast: any, i: number) => (
      <div class={i === 0 && fluid != false ? "col-12" : "col-12 sm:col-6"}>
        {podcast.artwork_url && (
          <a href={`/`} class="rounded-lg block hover:text-primary overflow-hidden group">
            <Picture
            attributes={{
                class:"group-hover:scale-[1.03] transition duration-300 w-full"
              }
            }
              src={podcast.artwork_url}
              alt={podcast.title}
              width={i === 0 ? 925 : 445}
              height={i === 0 ? 475 : 230}
            />
          </a>
        )}
        <ul class="mt-6 mb-4 flex flex-wrap items-center text-text">
          <li class="mr-5 flex items-center flex-wrap font-medium">
            <BiCalendarEdit className="mr-1 h-5 w-5 text-gray-600" />
            <>{dateFormat(podcast.published_at)}</>
          </li>
        </ul>
        <h3 class="mb-4">
          <a href={`/pod/${podcast.slug}`} class="block hover:text-primary transition duration-300">
            {podcast.title}
          </a>
        </h3>
        <p class="text-text">
          <Fragment set:html={podcast.description?.slice(0, Number(i === 0 && fluid != false ? summary_length * 2 : summary_length))} />...
        </p>
      </div>
    ))
  }
</div>
